/* mixcloud-widget */
.mixcloud-widget{
    overflow: hidden;
    min-height: 25vh;
    text-align: center;
    background-color: white;
    padding: 0;
    position: relative;
    line-height: 2;

}

.mixcloud-widget .overlay {
    background-color: rgba(0,0,0,.7);
    min-height: 25vh;
    overflow: hidden;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    color:white;
    position: relative;
    z-index: 22;
    top:0;
    left:0;
    width: 100%;
    padding:10px 10px;
    justify-content: center;
    align-items: center;

}

.mixcloud-widget p {
    margin:5px 0;
}
.mixcloud-widget .overlay img {
    border-radius: 50%;
}

.mixcloud-widget p .read_more {
    color:white!important;
}

.mixcloud-button-profile {
    background-color: green;
    border: none;
    padding:5px 10px;
    color:white;
    border-radius: 10px;
}
/* end mixcloud-widget*/